.image-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.image-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%; /* Maintain aspect ratio */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.foreshadow {
  box-shadow: inset 0 0 50px rgb(14, 17, 39);
  transition: box-shadow 0.3s ease-in;
}

.foreshadow:hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s ease-in;
}

.gallery-image.placeholder {
  background-color: #121213;
  object-fit: none; /* Remove this line if you want to use a low-quality blurred version of the image */
}

.gallery-image.loaded {
  opacity: 1;
  transition: opacity 0.3s ease-in;
}
